/* color palette is as follows
  1.#fff2d8
  2.#ead7bb
  3.#bca37f
  4.#113946
*/
* {
  background-color: #fff2d8;
}
* {
  color: #113946;
}

.container {
  display: flex;
  gap: 1rem;
  background-color: #ead7bb;
  list-style: none;
}
